@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Batman";
  src: url("/assets/fonts/Batman.otf");
}
@font-face {
  font-family: "Joker";
  src: url("/assets/fonts/Batman.otf");
}
@font-face {
  font-family: "Harley";
  src: url("/assets/fonts/Harley.otf");
}
@font-face {
  font-family: "Catwoman";
  src: url("/assets/fonts/Catwoman.ttf");
}

:root {
  --background: black;
  --batman-accent: #e7b200;
  --joker-accent_1: #0dd859;
  --joker-accent_2: #470aa7;
  --harley-accent: #781312;
  --catwoman-accent: #1e074b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.batman {
  color: var(--batman-accent);
  font-family: "Batman";
}
.harley {
  font-family: "Harley";
}
.catwoman {
  color: var(--catwoman-accent);
  font-family: "Catwoman";
}
.joker {
  color: var(--joker-accent_1);
  font-family: "Joker";
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

nav p {
  text-shadow: 0px 0px 5px black;
}

.variant-wrapper {
  width: 100vw;
  background: black;
  position: relative;
}
.main-img-container {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  z-index: 1;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.img-container{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 10px;
}
.img-container .character-img {
  left: var(--x);
  top: var(--y);
}
.character-list {
  background-color: rgba(0, 0, 0, 0.432);
  opacity: 0;
  visibility: hidden;
  transition: all 400ms ease;
}
.character-selection:hover ~ .character-list,
.character-list:hover {
  opacity: 1;
  visibility: visible;
}
.quote-container {
  clip: rect(0, auto, auto, 0);
}