@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Batman";
  src: url("/assets/fonts/Batman.otf");
}
@font-face {
  font-family: "Joker";
  src: url("/assets/fonts/Batman.otf");
}
@font-face {
  font-family: "Harley";
  src: url("/assets/fonts/Harley.otf");
}
@font-face {
  font-family: "Catwoman";
  src: url("/assets/fonts/Catwoman.ttf");
}

:root {
  --background: black;
  --batman-accent: #e7b200;
  --joker-accent_1: #0dd859;
  --joker-accent_2: #470aa7;
  --harley-accent: #781312;
  --catwoman-accent: #1e074b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.batman{
  font-family: "Batman";
}
.harley{
  font-family: "Harley";
}
.catwoman{
  color: #1e074b;
  font-family: "Catwoman";
}
.joker{

  font-family: "Joker";
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

.slider {
  cursor: ew-resize;
}

.swiper-wrapper,
.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-wrapper .swiper-slide .imgs-wrapper {
  text-shadow: 0px 0px 10px black;
}
.swiper-wrapper .swiper-slide .imgs-wrapper .beyond-suit {
  width: 76% !important;
}
.swiper-wrapper .swiper-slide .imgs-wrapper .laughs {
  width: 85% !important;
  left: 150px !important;
}
/* Pagination */
.batman .swiper-pagination .swiper-pagination-bullet {
  background-color: var(--batman-accent);
}
.joker .swiper-pagination .swiper-pagination-bullet{
  background-color: var(--joker-accent_1);
}
.harley .swiper-pagination .swiper-pagination-bullet{
  background-color: var(--harley-accent);
}
.catwoman .swiper-pagination .swiper-pagination-bullet{
  background-color: var(--catwoman-accent);
}
.swiper-pagination .swiper-pagination-bullet {
  width: 100px;
  height: 15px;
  opacity: 1;
  transform: skewX(-50deg);
  border-radius: 0px;
  transition: height 200ms ease;
}
.swiper-pagination .swiper-pagination-bullet-active {
  height: 20px;
}

.img-container {
  left: var(--x);
  top: var(--y);
}

.img-container .character-img {
  left: var(--x);
  top: var(--y);
}

.character-list {
  background-color: rgba(0, 0, 0, 0.432);
  opacity: 0;
  visibility: hidden;
  transition: all 400ms ease;
}
.character-selection:hover ~ .character-list,
.character-list:hover {
  opacity: 1;
  visibility: visible;
}

.quote-container{
  clip: rect(0, auto, auto, 0);
}